#header {
    height: 50px;
    background: transparent;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1
  }



  @media (max-width: 1000px) {
    .img {
      display: none;

    }
  }
